@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #f4f6dc;
  color: #676c3b;
  /* color: #2e301d; */
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
